.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

header {
  background-color: #292929;
  /* color: #ffffff; */
  overflow: hidden;
  padding: 20px;
  display: flex; 
  justify-content: space-between;
}

.header-inner-left {
  float: left;
  text-align: center;
}

.logo-wrapper img {
  width: 250px;
}

.header-inner-right {
  float: right;
}

.settings-wrapper i {
  margin-top: 20px;
  font-size: 40px;
  color: #ffffff;
}


.login-wrapper {
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-logo {
  width: 250px;
  background-color: #292929;
  padding: 20px;
}

.btn-dark {
  background-color: #292929;
  color: #ffffff;
  border-radius: 0;
  width: 250px;
  height: 60px;  
}

.welcom-msg {
  margin-bottom: 50px;
}

.welcom-msg, .forgot-pwd, .copyright {
  margin-top: 20px;
}